# Dependencies (anywhere in repo)
node_modules/

# Build outputs
dist/
build/

# React (future client)
.next/
out/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Misc
*.log